* {
    margin: 0;
    padding: 0;
}

header {
    position: relative;

    min-height: 100vh;

    background-image: url('./../images/bg.png');
    background-size: cover;
    background-repeat: no-repeat;

    .header {
        display: grid;
        padding: 25px;
        align-items: center;
        grid-template-columns: max-content max-content;
        justify-content: space-between;

        .logo {
            color: #fff;
            text-transform: uppercase;
            font-size: 30px;
        }

        nav {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 20px;

            li {
                list-style: none;

                a {
                    text-decoration: none;
                    color: #fff;
                    text-transform: uppercase;

                    &:hover {
                        color: gold;
                    }
                }
            }
        }
    }

    .centerBox {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 800px;
        padding: 20px;
        text-align: center;
        height: 500px;
        background-color: #fff;

        border-radius: 20px;
        opacity: 0.4;

        .title {
            margin-top: 30px;
            font-size: 30px;
        }

        .tagline {
            margin: 0 auto;
            width: 60%;
            margin-top: 100px;
            font-size: 20px;
        }

    }

    .scrollDown {
        position: absolute;
        bottom: 20px;

        left: 50%;
        transform: translate(-50%);

        button {
            background: none;
            font-size: 30px;

            border: 0;
            color: #fff;
        }
    }
}

main {
    height: 4000px;

    .contantMain {
        position: relative;
        height: 100vh;
        background-color: #000;
        width: 100%;

        .blockMain {

            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            width: 70%;
            padding: 20px;
            height: 70%;
            border-radius: 20px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
            gap: 20px;

            background-color: #fff;

            .block {
                border-radius: 15px;
                transition-duration: 1s;
                background-color: #ddd;

                &:hover {
                    transform: rotate(180deg);
                }
            }

            .yellow {
                background-color: yellow;
            }

            .red {
                background-color: red;
            }

            .green {
                background-color: green;
            }
        }
    }
}